body{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    background: #fff;
}

.wrapper{
    width: 1050px;
    max-width: 90%;
    margin: 0 auto;
}

.header{
    width: 100%;
    margin: 0;
    padding: 0; 
}
.top-bar{
    width: 100%;
}

.top-bar ul{
    list-style: none;
    color: #9f9f9f;
    padding: .8em 0;
    overflow: hidden;
    display: inline-block;
    padding-left: 4em;
}

.top-bar li{
    float: left;
    margin-right: 4em;
}
.top-bar li:last-child{
    margin-right: 0;
}
.top-bar ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    transition: color .3s ease-in;
}

.top-bar a:hover , .top-bar ul li a.active{
    color: #000;
}
.top-bar__sociaux{
    float: right;
    display: inline-block;
    padding: 1.8em 0;
    font-size: 17px;
    padding-right: 2em; 
}

.top-bar__sociaux span{
    padding-right: .8em;
    -webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    transition: color .3s ease-in;
}
.top-bar__sociaux span:hover{
    color: #9f9f9f;
    cursor: pointer;
}

.header__img{
    width: 100%;
    height: auto;
   margin: 0;
   padding: 0;
}

/* Body */

.body{
    display: flex;
    widows: 900px;
    max-width: 90%;
    margin: 0 auto;
}

.body .content article{
    overflow: hidden;
    padding: 2em 0;
}

.body .content img{
    display: inline-block;
    float: left;
    padding-right: 1em;
}

.body .content .date{
    color: #666666;
    font-weight: 100;
    font-size: 0.7em;
}
.body .content h3{
    margin: 0;
    padding: .2em 0;
    font-size: 20px;
    font-weight: 700;
}

.body .content p{
    max-width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}

/* Nav bar aside ... */

.nav-bar{
    padding-left: 200px;
}
.top_aside::after{
    display: block;
    content: "";
    background: #c4c4c4;
    width: 100%;
    height: 0.5px;
}

.nav-bar nav ul{
    list-style: none;
    color: #9f9f9f;
    margin-left: 0;
    padding: 0 0 1em 0;
}

.bottom_aside{
    margin-top: 1.8em;
}

.nav-bar li{
    
    padding-bottom: 14px;
}

.nav-bar a{
    text-decoration: none;
    color: inherit;
}

.nav-bar a:first-letter{
    text-transform: uppercase;
}