*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #737373;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
}
h2{
    color: #000;
    font-size: 20px;
    line-height: 1.25;

}

