body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #212121;
}

.field{
    position: relative;
    height: 72px;
    padding: 16px 0 8px 0;
}

.field-label{
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, .35);
    font-weight: 400;
    display: block;
    margin: 0;
    transform: translateY(24px);
    position: relative;
    transition: transform .3s, font-size .3s;
}

.field-input{
    background-color: transparent;
    padding: 8px 0;
    line-height: 16px;
    border:none;
    appearance: none;
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto';
    outline: none;
    height: 32px;
    position: relative;

}

.field::after, .field::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 6px;
    left: 0;
    background: #e7e7e7;
}

.field::after{
    background-color: #4ba6a3;
    transform: scale(0);
    transition: transform .5s;
    
    transform-origin: left;
}

.is-focused .field-label, .has-label .field-label{
    transform: translateY(0);
    font-size: 12px;
}
.is-focused .field-label{
    color: #4ba6a3;
}
.field.is-focused:after{
    transform: scale(1);
}

.form{
    width: 50%;;
    display: block;
    margin: 0 auto;
}

