*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px; 
    align-items: center;
    height: 100vh;
    max-width: 90%;    
}
.carreau{
    width: 150px;
    height: 150px;
    position: relative;
}
div{
    border-style: solid;
    width: 0;
    height: 0;
}
.top{
    border-color: transparent transparent #f00 transparent;
    border-width: 0px 50px 50px 50px;
    position: absolute;
    bottom: 0;
    left: 25px;
}
.right{
    border-color: transparent transparent transparent #0f0;
    border-width: 50px 0px 50px 50px;
    position: absolute;
    left: 0;
    top: 25px;
}
.bottom{
    border-color: #00f transparent transparent transparent ;
    border-width: 50px 50px 0px 50px;
    position: absolute;
    top: 0;
    left: 25px;;
}
.left{
    border-color: transparent rgb(255, 218, 54) transparent transparent;
    border-width: 50px 50px 50px 0;
    position: absolute;
    right: 0;
    top: 25px;
}