body, html {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  background-color: #277a17;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
.header a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}
.header a.header__logo {
  font-size: 30px;
  letter-spacing: -0.1em;
  line-height: 1.6;
  font-weight: 900;
}
.header a:hover {
  color: #0a0a0a;
}
.header nav {
  padding-right: 40px;
}
.header .menu-item {
  padding-right: 30px;
}
.header .menu-item:last-child {
  padding-right: 0px;
}
.header .header__icon {
  display: none;
}

.site-content {
  margin-top: 100px;
}
.site-content .container {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 720px) {
  .site-container {
    overflow: hidden;
    height: 100vh;
  }

  .site-pusher {
    height: 100vh;
    transition: transform 0.5s;
    transform: translateX(0);
  }

  .header {
    position: static;
  }
  .header .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    padding: 10px 0;
    background-color: #206513;
    display: flex;
    flex-direction: column;
    transform: translateX(-200px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .header .menu .menu-item {
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #277a17;
  }
  .header .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 35px;
    height: 50px;
    cursor: pointer;
  }
  .header .header__icon:after {
    content: "";
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 10px;
    left: 10px;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }

  .site-content {
    margin-top: 0px;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100px;
    -webkit-overflow-scrolling: touch;
  }

  .with__sidebar .site-pusher {
    transform: translateX(200px);
  }
  .with__sidebar .site-cache {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

/*# sourceMappingURL=style.css.map */
