*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, .7);
    background: #cecece;
}

.container{
    width: 1050px;
    max-width: 90%;
    margin: 0 auto;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 750px;
    background: #fff;
    padding: 20px;
    margin: 50px 20px 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: relative;
}
.title{
    background: #8b0000;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.25;
    padding: 10px 0;
    font-weight: 400;
}
.logo, .form{
    padding-top: 50px;
}

.logo{
    flex: none;
    width: 100px;
}
.logo img{
    width: 100%;
}

.form{
    flex: none;
    width: calc(100% - 150px);
}
.form-group{
    width: 100%;
}

.form-label{
    display: block;
    margin-bottom: 10px;
}

.form-control{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #a02727;
    border-radius: 5px;
    font-size: 17px;
    margin-bottom: 50px;
    max-width: 100%;
}

input[type="submit"]{
    background: #8b0000;
    color: #fff;
    padding: 1em 5em;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    max-width: 100%;
}

.form-control:focus{
    border-color: rgb(52, 122, 214);
}

@media only screen and (max-width: 650px)
{
    .content
    {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .form{
        width: 100%;
    }
    .logo{
        margin: 0 auto;
    }
}