*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body, html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    //font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}


//Header
.header{
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 30px 70px;
    box-shadow: 0 -0.9px 5px 0.5px rgba($color: #000000, $alpha: 0.5);
    z-index: 3;
    .top-bar{
        float: left;
        padding-left: 78px;

        a{
            text-transform: capitalize;
            margin-right: 108px;
            text-decoration: none;
            color: #9F9F9F;
            transition: color .3s ease-in-out;
            &:hover{
                color: #000;
            }
        }
        a:last-of-type{
            margin-right: 0;
        }

    }
    .reseau-sociaux{
        float: right;
        span{
            padding: 0 15px;
            color: #9F9F9F;
            transition: color .3s ease-in-out;
            font-size: 18px;
            &:hover{
                color: #000;
                cursor: pointer; 
            }
        }
        
    }
    
}

.image-top{
    width: 100%;
    height: 375px;
    background: no-repeat center center/ cover url("../img/image.png");
}

// Content
.container{
    max-width: 100%;
    display: flex;
    .content{
        width: calc(100% - 385px);
        padding-top: 40px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        z-index: 2;
        .container-articles{
            max-width: 80%;
            margin:0 auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            article{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-bottom: 50px;
                //overflow: hidden;
                .article__content{
                    max-width: 550px;
                    h1{
                        margin: 3px 0 10px 0;
                        font-family: 'Cardo', serif;
                        font-weight: 700;
                        line-height: 1.4;
                    }
                    p.article__date{
                        color: rgba($color: #000000, $alpha: .4)
                    }
                    p{
                        color:rgba($color: #000000, $alpha: 0.7);
                        font-size: 14px;
                        font-weight: 500;
                    }
                    h1::selection ,p::selection{
                        color: #fff;
                        background: #000;
                    }
                    
                    
                }
                .article__img{
                    margin-right: 20px;
                    transition: transform .3s ease-in-out;
                }
                .article__img:hover{
                    transform:scale(1.1) rotate(1turn);
                }
            }
        }
    }
    .sidebar{
        width: 385px;
        min-width: 385px;
        background-color: rgba(0,0,0,.07);
        padding: 20px 0;
        z-index: 1;
        .sidebar__container{
            width: 85%;
            margin: 0 auto;
            
        }
        
        ul{
            list-style: none;
            overflow: hidden;
            li{
                padding: 0 0 30px 0;
            }
            li:last-of-type{
                padding-bottom: 0;
            }
            
            li::after{
                content: "10";
                float: right;
                padding: 10px;
                font-size: 14px;
                font-weight: 700;
                background-color: rgba(0, 0, 0, .5);
                color: #fff;
                border-radius: 50%;
                text-align: center;
                transform: translateX(-5px);
            }
            a{
                text-decoration: none;
                color: rgba($color: #000000, $alpha: .5)
            }
        }
        h2{
            font-family: 'Cardo', serif;
            margin: 20px 0;
        }

    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #474749;
    color: #fff;
}

// Media query

@media screen and(max-width: 1500px)
{
    .container{
        display: block;
        .content{
            width: 90%;
            margin: 0 auto;
        }
    }
    .container .sidebar{
        width: 100%;
    }

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        padding: 20px 0; 

        .reseau-sociaux{
            padding-top: 20px;
        }

    }
}
@media screen and(max-width: 1240px){
    
    .container .content .container-articles article{
        flex-direction: column;
        align-items: center;

        img{
            margin:0 0 20px 0;
        }
        .article__date{
            text-align: center;
        }
        h1{
            text-align: center;
        }
        
    }
    article:after{
        content: "";
        display: block;
        width: 200px;
        margin-top: 40px;
        border: 1px solid rgba(0, 0, 0, .6);

    }
    .container .sidebar{
        width: 100%;
    }
}

@media screen and (max-width: 700px)
{
    .header .top-bar{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-left: 0;
        a{
            margin:0 0 20px 0; 
            
            &:last-child{
                margin-bottom: 0;
            }
        }
        
    }

    .header .reseau-sociaux{
        display: flex;
        float: none;
        justify-content: center;
        align-self: flex-end;
    }
}