* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  color: #737373;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75; }

h2 {
  color: #000;
  font-size: 20px;
  line-height: 1.25; }

.container {
  width: 1170px;
  margin: 0 auto;
  max-width: 90%; }

.btn {
  display: inline-block;
  background-color: #fd9d12;
  padding: .6em 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  line-height: 1.4;
  font-size: 15px; }

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#31485d), to(rgba(49, 72, 93, 0.3))), no-repeat center center/cover url("../img/header.jpg");
  background: linear-gradient(#31485d, rgba(49, 72, 93, 0.3)), no-repeat center center/cover url("../img/header.jpg");
  color: #fff;
  padding: 50px 0;
  height: 100vh; }
  .header .header-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.2;
    margin-top: 214px; }
    .header .header-intro .header-intro__text p {
      font-weight: 100;
      text-align: center; }
    .header .header-intro .header-intro__text p:last-child {
      letter-spacing: -.08em; }
    .header .header-intro .header-intro__btn {
      margin-top: 40px; }
  .header .topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0; }
    .header .topbar a {
      color: inherit; }
    .header .topbar .logo {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 30px;
      border: 2px solid #fff;
      display: inline-block;
      float: left;
      border-radius: 50%;
      padding: 1em .5em;
      font-weight: 700; }
    .header .topbar .nav {
      text-align: right;
      float: right; }
      .header .topbar .nav .nav-item {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        padding-left: 37px; }
      .header .topbar .nav .nav-item:hover, .header .topbar .nav .nav-item.active {
        color: #000; }
      .header .topbar .nav .nav-item:after {
        content: "";
        display: inline-block;
        height: 12px;
        line-height: 1.4;
        width: 2px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        left: auto;
        margin-left: 37px;
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg); }
      .header .topbar .nav .nav-item:last-child {
        margin-right: 0; }
      .header .topbar .nav .nav-item:last-child:after {
        display: none;
        height: 0;
        width: 0; }

/*# sourceMappingURL=style.css.map */