*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.7;
    font-size: 17px;
    color: #6c757d;
}

.container{
    width: 1050px;
    max-width: 80%;
    margin: 0 auto;
}

a{
    color: inherit;
}

h2{
    font-weight: 300;
    color: #000;
    font-size: 45px;
    line-height: 1.6;
}

h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
}

.btn{
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: .8em;
    font-weight: 400;
    padding: .5em 1em;
    border-radius: 5px;
    transition: background-color .3s;
    white-space: nowrap;
}
.btn-primary:hover{
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}
.btn-secondary{
    background-color: #6c757d;
}
.btn-secondary:hover{
    background-color: #5a6268;
    border-color: #545b62;
    cursor: pointer;
}


.header{
    background-color: #343a40;
    /* height: 473.6px; */
    /* padding:10px; */
}

.header-top{
    transition: display .3s;
}

.about{
    margin-bottom: 50px;
}
.menu{
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.menu-item a{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}

.header__bottom{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px 0;
}

.album{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.album i{
    margin-right: 10px;
    font-weight: 300;
}

.burger-btn{
    border: 1px solid #6c757d;
    /* padding: 10px 15px; */
    border-radius: 5px;
    color: #6c757d;
    margin-bottom: -5px;
}
.burger-btn i{
    margin: 8px 15px;
    font-size: 1.4rem;
}


.display-all-topbar .header{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.display-all-topbar .header-top{
    display: none;
}

.display-all-topbar .header__bottom{
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.display-all-topbar .burger-btn{
    margin-bottom: 0;
}


.album-section{
    text-align: center;
    color: #797f86;
    font-weight: 300;
    font-size: 22px;
    padding: 3em 0;
    line-height: 1.6;
}

.btns{
    margin: 25px 0 50px 0;
}
.btns .btn-primary{
    margin-bottom: 25px;
    display: inline-block;
}
.btn-back{
    background-color: rgb(104, 22, 104);
    border-radius: none;
}


.content{
    padding: 0 20px;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
}
.card{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    box-shadow:  0px 5px 5px rgba(0, 0, 0, .1);
    /* border-bottom: none; */
}

.card-img{
    width: 100%;
    background: #55595c;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.card__content{
    background-color: #fff;
    padding: 25px 20px;
    margin-bottom: 1px;
    color: #000;
}
.card__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.card-btns{
    display: flex;
}
.card-btn{
    padding: .1em .5em;
    border: 1px solid rgba(0, 0, 0, .6);
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
    transition: color .3s, border-color .3s, background-color .3s;
}
.card-btn:hover{
    background-color: #6c757d;
    border-color: #6c757d;
    color:#fff;
}
.card-time{
    color: rgba(0, 0, 0, .5);
}
.card-btn:first-child{
    border-right: 1px solid rgba(0,0,0, .6);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
}
.card-btn:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.footer{
    background-color: #55595c;
    color:#fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer .btn-back{
    margin-left: auto;
    margin-bottom: 20px;
}

.footer-text{
    order: 2;
}

@media only screen and (min-width:700px)
{
    .header-top{
        display: flex;
    }
    .about{
        padding-right: 5em;
    }
    .menu{
        flex: none;
        width: 180px;
    }
    
    .btns .btn-primary{
        margin-bottom: 0;
        display: inline;
    }
    
}

@media only screen and (min-width: 800px)
{
    .content{
        width: 1110px ;
        max-width: 90%;
        margin:0 auto;
    }
    .card{
        width: calc(33.33% - 20px);
        margin: 0 10px;
        max-width: 350px;
    }
    .row{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media only screen and (min-width: 850px)
{
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 50px 100px;
    }
    .footer .btn-back{
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 0;
    }
    
    .footer-text{
        order: 1;
    }
    .footer .btn-back{
        order: 2;
    }
    
}