*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f1f1f1;
    color: rgba(0, 0, 0, .6);
}
.container{
    width: 1050px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.content{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header
{
    background-color: #273c51;
    color: #fff;
    text-align: center;
}

a{
    color: inherit;
    transition: color .3s;
}
.header a{
    text-decoration: none;
}

.header__logo{
    display: inline-block;
    color: inherit;
    line-height: 2.5;
    font-size: 20px;
}

.header__nav{
    text-align: center;
    padding-bottom:16px;
}

.nav-item{
    margin: 0 12px;
    font-weight: 300;
    color: rgba(255, 255, 255, .67);
}

.nav-item:hover,
.header .active{
    color: #fff;
}

.sidebar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.sidebar-item{
    display: block;
    text-decoration: none;
    padding: 0.6em 0;
    transition: all .3s;
    width: 50%;
    border: 1px solid transparent;
    padding-left: 10px;
}
.sidebar-item i{
    display: inline-block;
    width: 11px;
    height: 9px;
    text-align: center;
    margin-right: 20px;
}

.sidebar-item:hover,
.sidebar .active{
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid #dbdbdb;
}


.card{
    border: 1px solid #dbdbdb;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
}

.card-header{
    padding: 10px;
    overflow: hidden;
    background: #fff;
}
.card-header__image{
    margin-right: 10px;
    float: left;
    border-radius: 50%;
}

.card-header__pseudo{
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.card-header__date{
    font-size: 12px;
    color: rgba(0, 0, 0, .38);

}

.card-body__content{
    padding: 8px 10px 30px 10px;
    background-color: #fff;
}
.card-body__image{
    width: 100%;
    display: block;
}


.card-footer{
    border-top: 1px solid #dbdbdb;
    background-color: #fbfbfb;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 10px;
    font-size: 12px;
    color: #bdbdbd;
    line-height: 2.8;
}
.card-footer a{
    text-decoration: none;
    transition: color .3s;
}
.card-footer a:hover{
    /* text-decoration: underline; */
    color:#524f4f;
}
.card-footer i{
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 18px;
    font-size: 17px;
    transform: translateY(12.5%);
     
}
.card .comments{
    margin-left: auto;
}

/* Aside */

.sidebar-title{
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    font-weight: 700;
    color: #000;
}
.friends-list{
    width: 100%;
}

.friends-list ul{
    list-style: none;
}

.friends-list li{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}
.friend-image{
    display: inline-block;
    float: left;
    margin-right: 12px;
}
.friend-name{
    color: #000;
    margin-bottom: 5px;
}

.add-friend{
    position: absolute;
    bottom: 2px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.add-friend i{
    color: #34aaff;
    font-size: 16px;
    margin-right: 5px;
}

.footer{
    padding: 40px 50px;
    background-color: #273c51;
    text-align: center;
    color: #fff;
}
.footer span{
    display: block;
}

@media only screen and (min-width: 715px)
{
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        height: 64px;
    }
    .header__logo{
        white-space: nowrap;
        line-height: 2.7;        
        font-size: 24px;

    }
    .header__nav{
        padding: 0;
    }
    .nav-item{
        margin: 0 25px;
    }
    .container{
        padding-top: 64px;
    }
    .footer span{
        display: inline-block;
    }
}
@media only screen and (min-width: 945px){
    .content{
        display: flex;
    }
    .sidebar{
        width: 180px;
        flex: none;
        display: block;
    }
    .sidebar-item{
        width: 100%;
    }
    .aside{
        width: 310px;
        flex: none;
    }
    .main{
        width: 100%;
        margin: 0 20px;
        padding: 0 5px;
    }
    
}