body, html{
    font-family: 'Roboto', serif;
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    overflow: hidden;
    color: #fff;
    background-color: rgb(39, 122, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    a{
        text-decoration: none;
        color: inherit;
        transition: color .3s ease-in-out;
        &.header__logo{
            font-size: 30px;
            letter-spacing: -.1em;
            line-height: 1.6;
            font-weight: 900;
        }
    }
    a:hover{
        color: rgb(10, 10, 10);
    }
    nav {
        padding-right: 40px;
        
    }
    .menu-item{
        padding-right: 30px;
        
        &:last-child{
            padding-right: 0px;
        }
    }
    .header__icon{
        display: none;
    }

}

.site-content{
    margin-top: 100px;
    .container{
        width: 900px;
        max-width: 90%;
        margin: 0 auto;
    }
}

// Responsive
@media screen and (max-width: 720px)
{
    .site-container{
        overflow: hidden;
        height: 100vh;
    }
    .site-pusher{
        height: 100vh;
        transition: transform .5s;
        transform: translateX(0);
    }
    .header{
        position: static;
        .menu{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 200px;
            padding:10px 0 ;
            background-color: darken(#277a17, 5%);
            display: flex;
            flex-direction: column;
            transform: translateX(-200px);
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .menu-item{
                width: 100%;
                text-align: center;
                padding: 0 0 20px 0;
                text-transform: uppercase;
                border-bottom: 1px solid #277a17;
            }
        }
        .header__icon{
            position: relative;
            display: block;
            float: left;
            width: 35px;
            height: 50px;
            cursor: pointer;
            &:after{
                content: "";
                position: absolute;
                display: block;
                width: 1rem;
                height: 0;
                top: 10px;
                left: 10px;
                box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
            }
        }
    }
    

    .site-content{
        margin-top: 0px;
        overflow-y: scroll;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 100px;
        -webkit-overflow-scrolling: touch;

    }
    
    .with__sidebar{
        .site-pusher{
            transform: translateX(200px);
        }
        .site-cache{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
        }
    }

} 