* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }

.header {
  position: fixed;
  width: 100%;
  background: #fff;
  padding: 30px 70px;
  -webkit-box-shadow: 0 -0.9px 5px 0.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 -0.9px 5px 0.5px rgba(0, 0, 0, 0.5);
  z-index: 3; }
  .header .top-bar {
    float: left;
    padding-left: 78px; }
    .header .top-bar a {
      text-transform: capitalize;
      margin-right: 108px;
      text-decoration: none;
      color: #9F9F9F;
      -webkit-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out; }
      .header .top-bar a:hover {
        color: #000; }
    .header .top-bar a:last-of-type {
      margin-right: 0; }
  .header .reseau-sociaux {
    float: right; }
    .header .reseau-sociaux span {
      padding: 0 15px;
      color: #9F9F9F;
      -webkit-transition: color .3s ease-in-out;
      transition: color .3s ease-in-out;
      font-size: 18px; }
      .header .reseau-sociaux span:hover {
        color: #000;
        cursor: pointer; }

.image-top {
  width: 100%;
  height: 375px;
  background: no-repeat center center/cover url("../img/image.png"); }

.container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container .content {
    width: calc(100% - 385px);
    padding-top: 40px;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .container .content .container-articles {
      max-width: 80%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .container .content .container-articles article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin-bottom: 50px; }
        .container .content .container-articles article .article__content {
          max-width: 550px; }
          .container .content .container-articles article .article__content h1 {
            margin: 3px 0 10px 0;
            font-family: 'Cardo', serif;
            font-weight: 700;
            line-height: 1.4; }
          .container .content .container-articles article .article__content p.article__date {
            color: rgba(0, 0, 0, 0.4); }
          .container .content .container-articles article .article__content p {
            color: rgba(0, 0, 0, 0.7);
            font-size: 14px;
            font-weight: 500; }
          .container .content .container-articles article .article__content h1::-moz-selection, .container .content .container-articles article .article__content p::-moz-selection {
            color: #fff;
            background: #000; }
          .container .content .container-articles article .article__content h1::selection, .container .content .container-articles article .article__content p::selection {
            color: #fff;
            background: #000; }
        .container .content .container-articles article .article__img {
          margin-right: 20px;
          -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
          transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
        .container .content .container-articles article .article__img:hover {
          -webkit-transform: scale(1.1) rotate(1turn);
                  transform: scale(1.1) rotate(1turn); }
  .container .sidebar {
    width: 385px;
    min-width: 385px;
    background-color: rgba(0, 0, 0, 0.07);
    padding: 20px 0;
    z-index: 1; }
    .container .sidebar .sidebar__container {
      width: 85%;
      margin: 0 auto; }
    .container .sidebar ul {
      list-style: none;
      overflow: hidden; }
      .container .sidebar ul li {
        padding: 0 0 20px 0; }
      .container .sidebar ul li:last-of-type {
        padding-bottom: 0; }
      .container .sidebar ul li::after {
        content: "10";
        float: right;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        border-radius: 50%;
        text-align: center;
        -webkit-transform: translateX(-5px);
                transform: translateX(-5px); }
      .container .sidebar ul a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5); }
    .container .sidebar h2 {
      font-family: 'Cardo', serif;
      margin: 20px 0; }

.footer {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: #474749;
  color: #fff; }

@media screen and (max-width: 1500px) {
  .container {
    display: block; }
    .container .content {
      width: 90%;
      margin: 0 auto; }

  .container .sidebar {
    width: 100%; }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    padding: 20px 0; }
    .header .reseau-sociaux {
      padding-top: 20px; } }
@media screen and (max-width: 1240px) {
  .container .content .container-articles article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .container .content .container-articles article img {
      margin: 0 0 20px 0; }
    .container .content .container-articles article .article__date {
      text-align: center; }
    .container .content .container-articles article h1 {
      text-align: center; }

  article:after {
    content: "";
    display: block;
    width: 200px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.6); }

  .container .sidebar {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */