*{margin:0;padding:0}
body,html{margin:0;padding:0;box-sizing:border-box;font-weight:100;font-size:15px;line-height:1.75em;font-family:Roboto,Helvetica,sans-serif}
.btn{background:#4183d7;padding:0 25px;font-weight:300;line-height:2.5em;font-size:18px;margin-left:30px;border-radius:4px;transition:background-color .3s!important}
.btn:hover{background:#446cb3;color:#fff!important}
.container{max-width:80%;margin:0 auto}
i{margin-right:5px!important}
.h3{color:#95bae9;font-weight:300;font-style:initial;margin-bottom:30px;font-size:25px}
.third-title{font-size:17px!important;font-weight:500!important;text-transform:uppercase}
.danger{color:#e74c3c}
.header{background-color:#272833;position:fixed;width:100%;padding:20px 20px;display:flex;justify-content:space-between;align-items:center;color:#c9c9cc;z-index:999999}
.header i{padding-right:5px;font-weight:400;font-size:18px}
.header .header__logo{font-weight:300;line-height:1.6;font-size:18px;color:#fff}
.header a{text-decoration:none;color:inherit;font-size:16px;font-weight:300;transition:color .3s;white-space:nowrap;margin:20px 15px;display:block}
.header .btn{color:#fff}
.header .btn i{padding-right:10px}
.header a:hover{color:#c991f8}
.header .menu{margin-top:1em}
.headband{background-color:#1c1d26;padding-top:120px}
.headband .reseaux-sociaux{width:100%;text-align:center;padding-bottom:20px}
.headband .reseaux-sociaux a{font-size:30px;color:#c991f8;transition:color .3s;margin:0 10px}
.headband .reseaux-sociaux a:hover{color:#e1c1fb}
.headband .intro{width:100%;text-align:center;color:#fff;line-height:5rem;margin-top:50px;padding:80px 0}
.headband .intro h1{font-size:35px;font-weight:300}
.headband .intro .intro__text{font-size:20px;font-weight:300;letter-spacing:.01em;display:block}
.headband .intro .intro__text:after{content:'';width:330px;border:2px solid #4183d7;display:block;margin:0 auto;margin-top:30px}
.headband .container{display:flex;justify-content:space-between;padding:0;color:#c9c9cc;font-style:italic;font-size:16px}
.headband .container .communique{margin:3%;padding:0;width:70%}
.headband .container .communique h4{color:#80ace4;font-weight:300;font-style:initial;margin-bottom:30px;font-size:25px}
.headband .container .communique .edito{border-bottom:1px solid #606167;padding-bottom:3.5em;margin-bottom:4em;margin-right:20px}
.headband .container .communique .edito .edito-container{border-left:4px solid #606167;padding-top:15px;padding-right:10px;display:flex;align-content:flex-start;align-items:flex-start;justify-content:space-around}
.headband .container .communique .edito .edito-container img{border-radius:2px;margin-left:40px;margin-right:30px;float:left;width:100px;height:100px}
.headband .container .communique .edito .edito-container p{font-weight:100;font-size:17px;line-height:1.5em;margin:0;padding:0}
.headband .container .communique .lives .lives__actuel{padding-bottom:1.7em}
.headband .container .communique .lives .lives__actuel h4{color:#fff}
.headband .container .communique .lives .lives__historique{font-style:initial;font-size:18px}
.headband .container .communique .lives .lives__historique li{list-style:none;padding:12px 0;border-bottom:1px solid #606167}
.headband .container .communique .lives .lives__historique a{color:#c991f8;text-decoration:none;line-height:1.8em;border-bottom:1px dotted #c991f8;transition:color .3s}
.headband .container .communique .lives .lives__historique a:hover{animation:border-bottom .3s forwards;color:#e1c1fb}
.headband .container .communique .lives .lives__historique .date{color:#fff;background:#2d2e36;padding:.2em .8em;margin-right:5px;border-radius:4px;font-weight:100;font-family:monospace;letter-spacing:.08em}
.headband .container .aide{margin:0;margin-left:20px;padding:0 10px;width:30%;color:#c9c9cc;font-weight:300;font-style:initial}
.headband .container .aide h4 i{margin-right:5px}
.headband .container .aide p{line-height:1.5em;font-size:19px;font-weight:100}
.headband .container .aide .btn{width:100%;margin:0;color:#fff;font-weight:300;text-transform:capitalize;padding:.5em 0;line-height:1.5em;margin-top:30px;margin-bottom:3.5em}
.headband .container .aide .btn i{margin-right:5px;font-weight:100;font-size:15px}
.headband .container .aide .publicites{padding:3.5em 0;border-top:1px solid #606167;border-bottom:1px solid #606167}
.headband .container .aide .publicites h4{margin:0}
.headband .container .aide .donations{padding:3.5em 0}
.headband .container .aide .donations .btn{margin-bottom:2.8em}
.headband .container .aide .donations .btn:last-child{margin-top:0}
.headband .container .aide .donations i{font-size:16px}
.footer{background-color:#272833;width:100%;padding:120px 0}
.footer .reseaux-sociaux{width:100%;text-align:center}
.footer .reseaux-sociaux a{font-size:30px;text-decoration:none;color:#c991f8;padding:0 10px;transition:color .3s}
.footer .reseaux-sociaux a:hover{color:#e1c1fb}
.footer .copyright{width:100%;text-align:center;margin-top:45px}
.footer .copyright p{display:inline-block;font-weight:100;color:#919499;font-size:17px;padding:0;margin:0;padding:0 10px}
.footer .copyright p:first-child:after{content:"";height:5px;width:0;padding:0 10px;border-right:1px solid #919499}
.footer .copyright p a{color:#919499;text-decoration:none;border-bottom:1px dotted #919499;transition:color .3s}
.footer .copyright p a:hover{animation:border-bottom-footer .3s forwards;border:none;color:#c991f8}
@keyframes border-bottom{
from{border-bottom:1px dotted #c991f8}
to{border-bottom:1px dotted #1c1d26}
}
@keyframes border-bottom-footer{
from{border-bottom:1px dotted #919499}
to{border-bottom:1px dotted #272833}
}