*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.8;
    color: #fff;
    background-color: #38383D;
}

.container{
    width: 1110px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 55px;
}

.header{
    background: #6657A6;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header a{
    color: inherit;
    text-decoration: none;
}

.content{
    padding-top: 10px;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: inline-block;
}

.box{
    box-sizing: border-box;
    display: inline-block;
    margin:2px ;
    width: calc(90% / 6);
    border-radius: 50%;
    transition: transform .3s;
}
.box:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.footer{
    position: relative;
    background-color: #007ACC;
    height: 100px;
    padding: 20px 0px;
}

.copyright{
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    bottom: 0px;
}

@media only screen and ( max-width:1390px )
{
    .row{
        display: inline;
    }
    .box{
        width: calc( 90% / 5);
    }
}

@media only screen and ( max-width:1090px )
{
    .box{
        width: calc( 90% / 4);
    }
}

@media only screen and ( max-width:875px )
{
    .box{
        width: calc( 90% / 3);
    }
}

@media only screen and ( max-width:661px )
{
    .row{
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .box{
        width: calc( 90% / 2);
    }
}