/* https://openclassrooms.com/fr/courses/2818931-programmez-en-oriente-objet-avec-c/2818941-introduction-a-la-programmation-orientee-objet */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.8;
}
.copyright{ text-align: center; font-family: 'Raleway', sans-serif; }
.copyright a{ color: inherit; }
/* I CLASS fa */
i.fa{ color: #fff; }
.facebook:hover{background-color: #3b5998!important ;}
.twitter:hover{background-color: #03d0fc !important ;}
.instagram:hover{background: linear-gradient(49.2deg,#f9ed32 10%,#ee2a7b 55%,#002aff)!important ;}
.linkedin:hover{background-color: #4875b4!important ;}
.youtube:hover{background-color: #828282!important ;}
.main_content p, .main_content li{
    cursor: copy;
}
.footer .section_body ul{list-style: none; margin: 0;}
.btn{
    background-color: #7451eb;
    color: #fff;
    padding: .5em 1.5em;
    border-radius: 4px;
    border: 1px solid #7451eb;
    font-weight: 700;
    text-transform: uppercase !important;
    font-size: 14px;
    box-shadow: 0 1px 1.5px rgba(0,0,0,.5);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,-webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.btn.btn-white { background-color: #fff; color: #7451eb !important; box-shadow: none; }
.btn:hover{ box-shadow: 0 6px 6px 0 rgba(0,0,0,0.26), 0 10px 20px 0 rgba(0,0,0,0.19); }
.btn.btn-white:hover{ box-shadow: none; background-color: rgba(116,81,235,0.24); }
a.btn { text-decoration: none; }
/* ALERT */
.alert{
    border-radius: 4px;
    display: flex;
    padding: .5em .8em;
    font-size: 13px;
    line-height: 1.4;
    margin: 20px 0;
    position: relative;
    font-weight: 500;
}
.alert a{ color: inherit; }
/* TITLE */
.title{ font-size: 28px; line-height: 1.3; }

/* CODE */
code{ border: 1px solid rgba(0,0,0,.14); padding: .3em; }
/* CONTAINER */
.container, .header__intro__container, .header .header__container{
    width: 1000px;
    max-width: 95%;
    margin: 0 auto;
}

/* HIDE NAV DESKTOP */
.navbar__desktop, .identifier, .sidebar { display: none; }

/* HEADER TOPBAR */
.topbar{
    overflow: hidden;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    line-break: 55px;
}

.topbar .logo {
    width: 13.5rem;
    display: inline-block;
    min-width: 12rem;
    line-height: 60px;
}
.topbar .logo svg { fill:#7451eb; }

.header__options { display: flex; justify-content: space-between; align-items: center; }
.header__options .search , .header__options .menu { font-size: 30px; }
.header__options .search{ margin-right: 25px; }
.header__options a:first-child{ border: none; outline: none; }
.header__options i{color: #000;transition: color .5s; }
.header__options i:hover{ color: #7451eb; }
    
    /* TOPBAR FORM */
.form{
    width: 100%;
    transition: opacity .3s, height .5s;
    height: 0;
    opacity: 0;
    overflow: hidden;
}
.form-group{ width: 100%; color: rgba(0,0,0,.7); height: 100%; padding:0  10px; }
.form-control-custom{ width: 100%; margin-top: 5px;font-size: 17px; font-weight: 500; height: 80%;}
.form.show{ height: 35px; opacity: 1; margin-bottom: 16px; }
.form.show .form-group{ border-bottom: .04em solid rgba(0,0,0,.3); border-radius: 4px; }
    /* END TOPBAR FORM */

    /* GENERAL CSS FORM */
.header .form-group .form-control-custom{ border: none; outline: none; box-shadow: none; }
.header .form-group .form-control-custom:focus{ outline: none; border: none; box-shadow: none; }
    /* END GENENRAL CSS FORM */

    /* TOPBAR NAVBAR */
.navbar{ overflow: hidden; height: 0px; opacity: 0; transition: height .5s, opacity .3s; }
.navbar.show{ height: 220px; opacity: 1; }
.navbar__menu{ display: flex; flex-direction: column; height: 100%; overflow: hidden; }
.navbar__menu a{ color: inherit; text-decoration: none; margin-bottom: 5px; }
.navbar__menu a.active, .navbar__menu a:hover{ color: #7451eb; font-weight: 500; }
    /* END TOPBAR NAVBAR */

/* END HEADER TOPBAR */

/* HEADER INTRO */
.header__intro{
    background-color: #7451eb;
    color: #fff;
    position: relative;
    padding: 0 12px 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
}
.header__intro a{ text-decoration: none; color: inherit; }
.header__intro__head{ margin: 15px 0; }
.header__intro__body{ margin-bottom: 30px; }
.header__intro__footer{ color: #8E71EE; }
.header__intro__footer .active{ color: #fff; }
.onglet{ list-style: none; display: flex; flex-wrap: wrap; }
.onglet-item a{ font-weight: 700; }
.onglet-item a:hover{text-decoration: underline;}
.onglet-item span{ margin-right: 5px; padding-left: 5px; font-weight: 700 }
.header__intro__body .title{ text-shadow: 1px 1px #000; }
.header__intro__footer .integrity{ display: none; }
.header__intro__footer ul{ display: flex; list-style: none; align-items: center; }
.header__intro__footer__info{ display: flex; justify-content: space-around; }
.header__intro__footer__info li.disabled a:hover{cursor: unset;}
.header__intro__footer li{ margin: 0 5px; }
/* END HEADER INTRO */

/* UPDATED  */
.updated-since{ overflow: hidden; padding-top: 1em; padding-bottom: .4em; }
.updated-since p{ font-weight: 500; font-size: 12px; float: right; }
/* END UPDATED  */

/* POGRESS BAR */
.progress-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 2.2em;
    position: relative;
} 
.progress-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 1.5px;
}
.progress-item{
    border-bottom: .3em solid #b1b1b1;
    border-left: 1px solid #dadada;
    height: 20px;
    width: 100%;
    background-color: #ececec;
    color: #7451eb;
    font-size: 12px;
    font-weight: 500;
}
.progress-item:hover{ cursor: pointer; background-color: #D8D8D8; }
.progress-item:before{
    content: attr(title);
    width: 100%;
    margin: 0 auto;
    white-space: pre-wrap;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-30px);
    line-height: 1.2;
    display: block;
    opacity: 0;
}
.progress-item:hover.progress-item::before{ opacity: 1; }
.progress-item.active:after, .progress-item:hover:after{
    content: "";
    border-style: solid;
    border-width: 0px 6px 10px 6px;
    margin-left: calc(50% - 7px);
    display: inline-block;
    transform: translateY(16px);
    border-color: transparent transparent #7451eb;
}
.progress-bar .fa-links{
    padding: .01em .3em;;
    background: #b1b1b1;
    border-radius: 50%;
    transition: background-color .3s;
}
.progress-bar .fa-links:first-child{margin-right: 2px;}
.progress-bar .fa-links:last-child{margin-left: 2px;}
.progress-bar .fa-links:hover{ background-color: #7451eb; }
/* END POGRESS BAR */

/* MAIN CONTENT */
    /* ALERT DANGER */
.alert-danger{ background-color: #FFD4C8; }
.alert-danger .fas{ margin-right: 5px; transform: translateY(6px); }
    /* END ALERT DANGER */
    /* ALERT INFO */
.alert-info{ background-color: #e6f4fa; }
.alert-info i{ background-color: #3fa5db; }
.alert-info i, .alert-normal i{
    border-radius: 50%;
    padding:  .5em .7em;
    font-size: 14px;
    position: absolute;
    transform: translate(-40%, -50%)
}
.alert-info .content, .alert-normal .content{ margin-left: 1.5em; }
    /* END ALERT INFO */
    /* ALERT NORMAL */
.alert-normal i{ background-color: #565656; color: #fff; }
    /* END ALERT NORMAL */
    /* CONTENT__BODY */
.content__body p { margin: 10px 0; }
.section{ margin: 10px 0; }
.section_header{
    border-bottom: 1px solid rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    line-height: 1.5;
}
.section_header i{ font-size: 30px; margin-right: 5px; }
.section_body{ display: none; }
.section.event .section_body { display: block; }
.section.event .fa-angle-right{ transform: rotate(90deg); }
.section_body ul{ margin-left: 40px; }
.schema{ text-align: center; }
.section_body .title{ font-size: 16px; font-weight: 700; }
    /* MAIN CONTENT BODY BTNS */
.main_content .btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 30px;
}
.main_content a.btn:first-child{width: calc(50% - 7.5px); }
.main_content a.btn:last-child{ width: calc(50% - 7.5px);}
.main_content a.btn {
    position: relative;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    padding: 1.3em;
}
.main_content a.btn i{
    position: absolute;
    top: 30%;
    font-size: 25px;
    color: #7451eb;
}
.main_content .fa-angle-left{ left: 5px; }
.main_content .fa-angle-right{ right: 5px; }
    /* END MAIN CONTENT BODY BTNS */

    /* PROFESSEUR */
    .professeur {
        margin: 2em;
        background-color: #ececec;
        padding: 1em 2em;
        border-radius: 4px;
        overflow: hidden;
    }
    .professeur .title{
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
    }
    .professeur a { 
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        font-size: 14px;
    }
    .professeur img { width: 50px; float: left; margin-right:10px; }
    .professeur .name{ color: #7451eb; font-weight: 700; font-size: 17px; }
/* END MAIN CONTENT */

/* FOOTER */
.footer { border-top: 1px solid rgba(0,0,0,.3); }
.footer a{ color: inherit;}
.footer .section { border-bottom: 1px solid rgba(0,0,0,.2); padding-bottom: 15px; overflow: hidden; }
.footer .section .section_header{ border: none; }
.footer .section .fa-angle-down:hover{ background-color: rgba(0, 0, 0, 0.08); }
.footer .section .fa-angle-down{
    background-color: transparent;
    transition: transform .3s, background-color .3s;
    padding: .3em 0.56em;
    border-radius: 50%;
}
.section.event .fa-angle-down{ transform: rotate(-180deg); }
.section_body ul{ font-size: 14px; }
.section li{ margin: 10px 0; }
.section a{ text-decoration: none; color: inherit; transition: color .3s; }
.section a:hover{ color: #7451eb; }
    /* LANG */
.lang{ 
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    align-items: center;
}
.lang .fa-caret-down{ transform: translate(-15px, 2px); cursor: pointer; z-index: -999; }
.lang .fa-globe{ margin-right: 5px; }
.lang select:hover{ border-bottom: 2px solid rgba(0, 0, 0, 0.7); }
.lang select:focus{ border-bottom: 2px solid #7451eb; }
.lang select:focus + .fa-caret-down{ color: #7451eb; }
.lang select{
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.3);
    transition:  border-bottom .1s;
    width: 100%;
    height: 30px;
    cursor: pointer;    
    background-color: transparent;
    /*  reset */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
    /* END LANG */
    /* APPS RESEAUX SOCIAUX */

.apps{ width: 70%; border-bottom: 1px solid rgba(0, 0, 0, 0.12); margin-bottom: 20px; }
.reseaux-sociaux{ margin: 2em 0; }
.reseaux-sociaux ul { display: flex; list-style: none; }
.reseaux-sociaux li{
    padding: 5px 12px;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 50%;
    margin: 0 4px;
    color: #000;
    cursor: pointer;
}
.reseaux-sociaux li:hover i{ color: #fff; }
.reseaux-sociaux li i.fa-facebook-f{ padding: 5px 5px; }
    /* END RESEAUX-SOCIAUX*/
    /* DOWNLOAD */
.footer .download{ width: 160px; margin-bottom: 5px; transition: transform .3s ease-in-out; cursor: pointer; }
.footer .download:hover{ transform: scale(1.2); }

/* END FOOTER */

@media only screen and (min-width:700px){
    .content__body{ display: flex; align-items: flex-start; }
    .main_content{ margin-right: 30px; }
    /* DISPLAY SIDEBAR */
    .sidebar{
        display: block; 
        flex: none; 
        width: 216px;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 5px 20px rgba(0, 0, 0, .3);
        overflow: hidden;
        border-radius: 4px;
        text-align: center;
        font-weight: 500;
        line-height: 1.3;
    }
    .sidebar a{ text-decoration: none; color: inherit; transition: color .3s;}
    .sidebar .disabled{ color: rgba(0, 0, 0, .3); cursor: not-allowed}
    .sidebar  li:not(.disabled) a:hover{ color: #7451eb; font-weight: 700;}
        /* SIDEBAR TOP */
    .sidebar-top{
        background-color: #7451eb;
        color: #fff;
        display: flex;
        height: 100px;
    }
    .sidebar-top .previous, .sidebar-top .next{
        width: 40px;
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 25px;
    }
    .sidebar .previous i, .sidebar .next i { transition: transform .1s ease-in-out; }
    .sidebar-top .previous:hover, .sidebar-top .next:hover {cursor: pointer;}
    .sidebar-top .previous:hover i, .sidebar-top .next:hover i { transform: scale(1.5); cursor: pointer; }
    .sidebar-top .previous { border-right: 2px solid #fff; }
    .sidebar-top .current { padding: 5px 0; font-weight: 700; }
    .sidebar-top .current p { margin: 0; }
    .sidebar-top .next { border-left: 2px solid #fff; }
        /* END SIDEBAR TOP */
        /* SIDEBAR BODY */
    .sidebar-body { padding: 10px 20px; text-align: left; font-size: 15px; }
    .sidebar-body .chapter{ margin: 0 10px 15px 10px ; position: relative; }
    .sidebar-body .chapter.active{ font-weight: 700; color: #7451eb; }
    .sidebar-body .chapter:not(.disabled):hover { color: #7451eb; font-weight: 700; }
    .sidebar-body .chapter:not(.disabled).active::before,
    .sidebar-body .chapter:hover:not(.disabled)::before{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 8px 8px;
        font-size: 0;
        position: absolute;
        left: -30px;
        top: 3px;
        border-color: transparent transparent transparent #7451eb;

    }
    .sidebar-body .btn{
        line-height: 1.8;
        padding: 1em 1.1em;
        display: inline-block;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    /* END SIDEBAR BODY */
    /* SIDEBAR FOOTER */
    .sidebar-footer{ font-size: 12px; line-height: 1.8; padding: 0 10px; }
    .sidebar-footer .title{ font-size: 20px; font-weight: 700; margin-top: 0; }
    .sidebar-footer img{width: 90px; flex:none; overflow: hidden; }
    .sidebar-footer .content{ margin-top: 10px; margin-bottom: 30px; }
    .sidebar-footer .reseaux-sociaux a{
        padding: .4em .5em;
        background-color: #b4b4b4;
        border-radius: 50%;
        color: #fff;
        margin: 0 5px;
        font-size: 20px;
    }
    .sidebar-footer .reseaux-sociaux a.facebook{ padding: .4em .7em; }
    /* END SIDEBAR FOOTER */
}
/* TOPBAR DESKTOP */
@media only screen and (min-width:990px )/*992 */
{
    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        line-height: 1.8em;
        padding: 2.8em 0;
        position: relative;
    }
    .topbar .logo{ margin-right: 40px; width: 30rem; transform: translateY(4px); }
    .header__intro__container, .header .header__container{ width: 1100px; max-width: 95%; margin: 0 auto; }
    /* HIDE HEADER OPTION MOBILE AND NAVBAR, SEARCH BUTTON */
    .header__options, .form, .navbar{ display: none; }
    /* DISPLAY NAVBAR DESKTOP */
    .navbar__desktop
    {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-right: 295px;
    }
    .menu{
        display: flex;
        align-items: center;
        width: calc(100% - 50px);
        transition: opacity .7s;
    }
    .menu a{
        margin: 0 10px;
        white-space: nowrap;
        font-size: 16px;
        color: #000;
        transition: color .3s;
    }
    .menu a:hover{ color: #7451eb; }
    .menu a:first-child{ margin-left: 0; }
    .form_desktop{ position: absolute; right: 5px; transition: width .5s }
    .identifier {
        max-width: 290px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 290px;
        position: absolute;
        right: 0;
    }
    .identifier a{text-decoration: none;}
    .search__desktop{font-size: 20px; outline: none;}
    .form-control-custom
    { 
        width: 100%; 
        display: none; 
        margin-left: 10px; 
        border: none; box-shadow: none; outline: none;
    }
    .form-control-custom:focus{border: none; box-shadow: none; outline: none; }
    .navbar__desktop a { text-decoration: none; }
    .navbar__desktop .form_desktop { width: 40px; }
    /* EVENT JS */
    .navbar__desktop.event .form_desktop{ width: calc(100% - 25px); border-bottom:.04em solid rgba(0,0,0,.3); }
    .navbar__desktop.event .menu{ opacity: 0; }
    .navbar__desktop.event .btn{margin: 0 10px;}
    .navbar__desktop.event .form-control-custom{display: inline-block;}
    /* END EVENT JS */

    .form-group{ width: 100%; display: flex; }    
    .onglet{ font-size: 16px; }

    /* HEADER INTRO FOOTER */
    .header__intro__footer{ display: flex; justify-content: space-between; font-size: 15px; }
    .header__intro__footer__info{ font-size: 18px; }
    .header__intro__footer__info ul{ margin-right: 20px; }
    .header__intro__footer__info ul li{ margin: 0 5px; }
    .header__intro__footer__info ul:nth-child(2) li { margin-right: 20px; font-size: 15.5px; }
    .header__intro__footer__info .disabled a{ cursor: unset; }
    .header__intro__footer .integrity{ display: inline-block; }
    .header__intro__footer .integrity i{ font-size: 25px; }

    /* FOOTER */
    .footer .container
    {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 20px;
    }
    .footer .section{ margin: 0;}
    .footer .section_header{cursor: unset;}
    .lang{ margin-bottom: 0; }
    .lang select, .apps, .footer .section{ border: none; }
    .reseaux-sociaux li:first-child{ margin-left: 0; }
    .fa-angle-down{ display: none; }
    .footer .section_body{ display: block; height: auto; }
}

@media only screen and (min-width:1150px ) { .topbar .logo{ margin-right: 3em;} .menu a{ margin: 0 1.5em; } .form_desktop{ right: 2em; } }

@media only screen and (min-width:1280px ) { .header .header__container, .footer .container{ width: 1220px; } .header .header__intro__container{ width: 1000px; } }