@import "base/base.scss";
@import "layouts/grid.scss";


.btn{
    display: inline-block;
    background-color: #fd9d12; //fb9c12
    padding: .6em 2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    line-height: 1.4;
    font-size: 15px;
}
.header{
    background:linear-gradient(rgba(#31485d, 3), rgba(#31485d, .3)), no-repeat  center center / cover url('../img/header.jpg') ;
    color: #fff;
    padding: 50px 0;
    height:100vh;
    .header-intro{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1.2;
        margin-top: 214px;
        .header-intro__text p{
            font-weight: 100;  
            text-align: center;

        }
        .header-intro__text p:last-child{
            letter-spacing: -.08em;
        }
        .header-intro__btn{
            margin-top: 40px;
        }
    }

    .topbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        a{
            color: inherit;
        }
        .logo{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 30px;
            border: 2px solid #fff;
            display: inline-block;
            float: left;
            border-radius: 50%;
            padding: 1em .5em;
            font-weight: 700;
        }
        .nav{
            text-align: right;
            float: right;
            
            .nav-item{
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                padding-left: 37px;
            }
            .nav-item:hover, .nav-item.active{
                color: #000;
            }
            .nav-item:after{
                content: "";
                display: inline-block;
                height: 12px;
                line-height: 1.4;
                width: 2px;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                left: auto;
                margin-left: 37px;
                transform: rotate(-20deg);
            }
            .nav-item:last-child{
                margin-right: 0;
            }
            .nav-item:last-child:after
            {
                display: none;
                height: 0;
                width: 0;
            }
        }
    }
}